@import './mixins';
@import './variables';


.center {
    margin: auto;
    padding: 0;
    text-align: center;
}


.button-primary {
    background-color: $secondary-color;
    color: white;
    border: 0;
}