@import './mixins';
@import './variables';

.center {
    margin: auto;
    padding: auto;
    text-align: center;
}

.title {
    margin: auto;
    text-align: center;
}

.form-item {
    margin: 0.5em 0.5em;
    padding: 0.5em;
    width: 25em;
}