

<div class="loader" *ngIf="loader.commentList && ! commentIds">Loading comments. Please wait.</div>
<div class="chat-box" *ngIf="commentIds">
  <div #chat class="chat-container" [scrollTop]="scrollHeight">
    <div *ngFor=" let id of commentIds">
      <app-comment [post]="post" [comment]="comments(id)" [id]="id"></app-comment>
    </div>
  </div>
  <div class="input-box">
    <form (ngSubmit)=" onSubmit( $event ) ">
      <input type="text" class="input-text" name="content" [(ngModel)]="comment.content" [disabled]="loader.creating">
      
      <!-- <app-file-upload [pathToStorage]=" 'posts/' + post.id + '/comments/' + comment.id " [currentData]=" comment.data " [allowMultipleFiles]="true"></app-file-upload> -->
      
      <button type="submit" class="btn btn-primary" *ngIf=" ! loader.creating ">Create Comment</button>
      <span class="loader" *ngIf="loader.creating">Creating a post. Please wait.</span>
    </form>
  </div>
</div>

