<!-- <form (ngSubmit)=" onSubmit( $event ) ">
  <input type="text" name="content" [(ngModel)]="comment.content" [disabled]="loader.creating">
  <app-file-upload [pathToStorage]=" 'posts/' + post.id + '/comments/' + comment.id " [currentData]=" comment.data " [allowMultipleFiles]="true"></app-file-upload>
  <button type="submit" *ngIf=" ! loader.creating ">Create Comment</button>
  <span class="loader" *ngIf="loader.creating">Creating a post. Please wait.</span>
</form> -->

<div class="loader" *ngIf="loader.commentList">Loading comments. Please wait.</div>
<ul>
  <li *ngFor=" let id of commentIds">
    <app-comment-item [post]="post" [comment]="comments(id)"></app-comment-item>
  </li>
</ul>
