

<div class="loader" *ngIf="loader.commentList">Loading comments. Please wait.</div>
<div class="chat-box" >
  <div #chat class="chat-container" *ngIf="fire.comment.commentIds" [scrollTop]="scrollHeight">
    <span *ngIf="! commentIds">No comments yet...</span>
    <div *ngFor=" let id of commentIds">
          <app-comment-item [post]="post" [comment]="comments(id)" *ngIf="! comments(id).deleted"></app-comment-item>
    </div>
  </div>
  <div class="input-box" *ngIf="fire.user.isLogin">
    <form (ngSubmit)=" onSubmit( $event ) ">
      <input type="text" class="input-text" name="content" [(ngModel)]="comment.content" [disabled]="loader.creating">
      
      <!-- <app-file-upload [pathToStorage]=" 'posts/' + post.id + '/comments/' + comment.id " [data]=" comment.data "></app-file-upload> -->
      
      <button type="submit" class="btn btn-primary" *ngIf=" ! loader.creating ">Create Comment</button>
      <span class="loader" *ngIf="loader.creating">Creating a post. Please wait.</span>
    </form>
  </div>
</div>

