.chat-box {
    height: 30em;
    width: 100%;
    padding: 0;
    .chat-container {
        overflow-y: scroll;
        max-height: 100%;
    }
    .input-box {
        form {
            .input-text {
                width: 100%;
                padding: 0.4em;
            }
        }
    }
}


