// @import '~sass/variables';

    .image-container {
        margin: 0.2em;
        width: 3em;
        height: 3em;
        border: 0;
        border-radius: 50%;
        img {
            width: inherit;
            height: inherit;

        }
    }
