@import '~sass/variables';
.post-item {
    border-top: 0.1em solid $secondary-shade;
    overflow: hidden;
    padding: 0.5em;
    margin: 0;
    .post-container {
        .title-container {
            .title:hover {
                color: $secondary-color;
                border-bottom: 1px solid $secondary-color;
            }
            .info {
                font-size: 0.9em;
            }
        }

        .content-container {
            padding: 0.5em;
        }
    }
    .author-container {
        float: left;
        margin: 0 0.5em 0.5em;
        .photo {
            display: inline;
            margin: 0.4em;
        }   
        .info {
            display: inline;
            margin: 0em;
        }
    }
    
}

.edit-post {
    border: 1px solid $primary-shade;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}

// available for both edit-post and post-item
.file-container {
    margin: 0.5em;
    overflow-x: scroll;
    background-color: $primary-shade;
    img {
        max-width: 10em;
        max-height: 10em;
        margin: 0.3em;
    }
}

.title {
    input {
        margin: 0.5em 0 0.5em 0;
        padding: 0.5em;
        width: 32em;
    }
}
.content {
    textarea {
        
        margin:0 0 0.5em 0;
        padding: 0.8em;
        width: 100%;
    }
}
// a.disabled {
    //     pointer-events: none;
    //     cursor: default;
    //  }
    