<div *ngIf="post" class="post-item">
    <div class="post-container">
        <div class="title-container">
            <h5>
                <span class="title" *ngIf="post.title"> 
                    <a [routerLink]="['/post', post.id]">{{ post.title }}</a> 
                </span>
            </h5>
            <span class="category" *ngIf="showCategory">Category: {{ categoryName }}</span>
        </div>
        <div class="content-container">
            <p>{{ post.content }}</p>
        </div>
    </div>
    <div class="author-container">
        <div class="photo">
            <app-avatar [profilePhoto]="post.authorPhoto"></app-avatar>
        </div>
        <div class="info">
            <span class="author-name"><b>{{ post.displayName }}</b></span>
            <span>{{ post.created }}</span>
        </div>
    </div>
</div><br>
<!-- {{ author | json }} -->



