<!-- <app-post-item [post]="post" [hideCommentButton]="true"></app-post-item> -->
<div class="post-container">
    <h4>
        <span class="title">{{ post.title }}</span>
        <span class="back"><button class="btn btn-outline-danger .right" (click)="close.emit()">Back</button></span>
    </h4>
    <!-- <div class="content toggle"></div> -->
</div>


<!-- <app-comment [post]="post" [comment]="comment"></app-comment> -->

<app-comment-live [post]="post"></app-comment-live>

<!-- <app-comment-list [post]="post" *ngIf="post.liveChatExpires > now"></app-comment-list> -->