@import '~sass/variables';
.post-container {
    display: inline;
    overflow: hidden;

    .file-container {
        margin: 0.5em;
        overflow-x: scroll;
        background-color: white;
        img {
            max-width: 10em;
            max-height: 10em;
            margin: 0.3em;
        }
    }
}

.post-editor {
    overflow: hidden;
}