<!-- <div class="row">
    <div class="col-sm">
        
        <div class="multiple-file" *ngIf="allowMultipleFiles">
            <div *ngFor="let preview of previewList">
                <div class="image-container center">
                    <img src="{{ preview }}" alt="">
                </div>
            </div>
        </div>
        
        <div class="single-file" *ngIf="!allowMultipleFiles">
            <div class="image-container center">
                <span *ngIf="previewList.length === 0">{{(loader)? 'Loading Image...' : 'No image to display.'}}</span>
                <img src="{{ previewList[0] }}" alt="" class="center">
            </div>
        </div>
        
    </div>
</div> -->
<div class="row">
    <div class="col-sm">
        <div class="center">
            <input *ngIf="!loader" (change)="onChangeFile($event)" type="file" name="file" id="file">
            <span *ngIf="loader">Uploading...</span>
            <!-- <input type="file" name="file" id="file" (change)="onChangeFile($event)" [multiple]="allowMultipleFiles"> -->
        </div>
    </div>
</div>

