@import '~sass/variables';
@import '~sass/mixins';

.app-head {
    background-color: $primary-color;
    width: 100%;
    overflow: hidden;
    .banner {
        margin-left: 0.5em;
        h1 {
            color: white;
        }
    }

    .user-container {
        margin: 0.12em 0.5em 0.12em 0.5em;
        display: inline;
        .display-name {
            color: $light;
            margin: 0.8em 0.5em;
            @include no-select;
        }
    }
}

.line {
    padding: 0;
    margin: 0;
    color: $primary-shade;
}

.nav-container {
    .nav-item{
        padding: 0.5em;
        margin: 0;
        display: inline;
        color: $secondary-color;
        
    }
    .nav-item:hover {
        background-color: $primary-color;
        text-decoration: none;
        color: $light;
    }
    
    .active {
        text-decoration: none;
        background-color: $primary-color;
        color: $light;
    }
}

.outlet {
    margin-top: 1em;
}