
<div class="app-head">
  <div class="banner left">
    <h1>Live Forum</h1>
  </div>
  <!-- <div class="avatar-container right" *ngIf="isLogin">
    <app-avatar [profilePhoto]="profilePhoto" [displayName]="displayName"></app-avatar>
  </div> -->
  <div class="right" style="color: white;">{{ displayName }}</div>
</div>


<div class="container">
  <div *ngIf="isSystemInstalled === true">
    <nav class="nav-container">
      
      <a routerLink="/" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Home </a>
      <a routerLink="/register" class="nav-item" routerLinkActive="active" *ngIf="! isLogin"> Register </a>
      <a routerLink="/login" class="nav-item" routerLinkActive="active" *ngIf="! isLogin"> Login </a>
      
      <a routerLink="/update-profile" class="nav-item" routerLinkActive="active" *ngIf="isLogin"> Update Profile </a>
      <a (click)="onClickLogout()" class="nav-item" *ngIf="isLogin"> Logout </a>
      
    </nav>
    <hr class="line">
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="outlet">
    <install-page *ngIf="isSystemInstalled === false" (finishedInstall)="onFinishInstall($event)"></install-page>
    <p *ngIf="!isSystemInstalled">Loading...</p>
  </div>
</div>