@import '~sass/mixins';
@import '~sass/variables';

.post-form-container {
    form {
        .post-title {
            margin: 0.5em 0 0.5em 0;
            padding: 0.5em;
            width: 100%;
        }
        .post-content {
            margin:0 0 0.5em 0;
            padding: 0.8em;
            width: 100%;
        }

        .post-livechat-timeout {
            padding: 0.5em;
            margin: 0;
            @include no-select;
            input {
                width: 10em;
                padding: 0.3em;
            }
        }
        
        .file-container {
            margin: 0.5em;
            overflow-x: scroll;
            background-color: $primary-shade;
            img {
                max-width: 10em;
                max-height: 10em;
                margin: 0.3em;
            }
        }
        
        .btn-primary {
            width: 5em;
        }
    }
    
}