<div class="post-form-container center" *ngIf="author">
    <form (ngSubmit)="onSubmit($event)">
        <input type="text" name="title" class="post-title" placeholder="Post title..." [(ngModel)]="post.title" [disabled]="loader.form"><br>
        <textarea name="content" cols="60" rows="5" class="post-content" placeholder="Post content..." [(ngModel)]="post.content" [disabled]="loader.form"></textarea><br>
        
        <div>
            <label class="post-livechat-timeout left" *ngIf = "! loader.form">Live Chat Timeout: <input type="date" name="livechat-timeout" [(ngModel)]="post.liveChatExpires"> Days</label>
        </div><br>

        <span>{{ loader.form ? 'Live Chat Timeout: ' + lib.secondToTimeFormat(post.liveChatExpires - lib.nowInSeconds() + 1) : '' }}</span><br>
        <div class="file-container d-flex align-items-center justify-content-center" *ngIf="post.data && post.data.length > 0">
            <div class="file-list" *ngFor="let data of post.data">
                <img [src]="data.thumbnailUrl ? data.thumbnailUrl : data.url" alt="">
            </div>
            <!-- {{ post.data | json }} -->
        </div>
        {{ loader.file ? 'Uploading...' : '' }}
        <app-file-upload
        class="left"
        [hidden] = "loader.file || loader.form"
        [pathToStorage]="'posts/' + post.id"
        [data]="post.data"
        (uploadStart)="loader.file = true"
        (uploadDone)="onUploadDone($event)"
        ></app-file-upload>
        <button class="btn btn-primary right" [disabled]="loader.form || loader.file">Submit</button>
    </form>
</div>
<!-- {{ post | json }} / {{ loader }} -->