Category:
<div class="category-container" *ngFor="let category of categoryList">
    <button 
    class="btn {{ (activeCategory.id === category.id) ? 'btn-secondary' : 'btn-outline-secondary' }} category-list"
    [value]="category" 
    (click)="onClickCategory(category)">{{ category.name }}</button>
</div>


<hr>
<app-post-form [categoryId]="activeCategory.id" *ngIf="fire.user.isLogin && activeCategory.id"></app-post-form>
<!-- {{ post | json }} -->
<hr>

<div class="post-list" *ngFor=" let post of postList">
    <app-post-item [post]="post" [showCategory]="activeCategory.id === 'all' ? true : false"></app-post-item>
</div>