@import '~sass/variables';
.forum-container {
    margin: 0;
    .post-list {
        .category-container {
            margin: 0;
            padding: 0.5em 0 0.5em 0;
            .category-list {
                display: inline;
            }
            
        }
        
    }    
}