@import '~sass/variables';

form {
    overflow: hidden;
    margin: 0.3em 0;
    padding: 0.5em;
    background-color: $primary-shade;
    textarea {
        width: 100%;
    }
    .file-container {
        margin: 0.5em;
        overflow-x: scroll;
        background-color: $primary-shade;
        img {
            max-width: 10em;
            max-height: 10em;
            margin: 0.3em;
        }
    }
}


.comment-item {
    border-top: 1px solid $secondary-shade;
}

