<div class="post-form-container center">
    <input type="text" name="" id="" class="post-title" placeholder="Post title..." [(ngModel)]="post.title"><br>
    <textarea name="" id="" cols="60" rows="5" class="post-content" placeholder="Post content..." [(ngModel)]="post.content"></textarea><br>
    <label for="liveChat" class="left live-chat" ><input type="checkbox" name="liveChat" id="liveChat" [(ngModel)]="post.options.liveChat"><span style="margin: 0.3em;">Enable Live Chat</span></label>
    <button class="btn btn-primary right">Post</button><br>
</div><br>
{{ post | json }}