@import '~sass/variables';
@import '~sass/mixins';
.chat-box {
    height: 30em;
    width: 100%;
    padding: 0;
    .chat-container {
        overflow-y: scroll;
        max-height: 100%;
        background-color: $light;
    }
    .input-box {
        margin: 0 0 1em;
        form {
            .input-text {
                width: 100%;
                padding: 0.4em;
            }
        }
    }
    @include file-container();
    
}


