LIVE

<div class="loader" *ngIf="loader.commentList">Loading comments. Please wait.</div>
<span *ngIf="lib.isEmpty(fire.comment.commentIds[post.id])">No comments yet...</span>
<div class="chat-box" >
  <div #chat class="chat-container" [scrollTop]="scrollTop">
    <div *ngFor=" let id of commentIds">
      <app-comment-item [post]="post" [comment]="comments(id)" *ngIf="! comments(id).deleted"></app-comment-item>
    </div>
  </div>

  <div class="input-box" *ngIf="fire.user.isLogin">
    <form (ngSubmit)=" onSubmit( $event ) ">
      {{  comment.content? comment.content.length + '/255' : '0/255' }}
      <textarea #input maxlength="255" class="input-text" name="content" placeholder="Write a comment..." [(ngModel)]="comment.content" [disabled]="loader.creating"></textarea>

      <app-file-upload
      [hidden]="loader.creating"
      [pathToStorage]=" 'posts/' + post.id + '/comments/' + comment.id "
      [data]=" comment.data "
      (uploadStart)="loader.creating = true"
      (uploadDone)="onUploadDone($event)"></app-file-upload>

      <button type="submit" class="btn btn-primary" *ngIf=" ! loader.creating ">Send Comment</button>
      <span class="loader" *ngIf="loader.creating">Creating a post. Please wait.</span>
    </form>


    <div class="file-container d-flex align-items-center justify-content-center" *ngIf="comment.data && comment.data.length > 0">
        <div class="file-list" *ngFor="let data of comment.data">
          <img [src]="data.thumbnailUrl ? data.thumbnailUrl : data.url" alt="">
        </div>
      </div>

  </div>
</div>

