<div class="post-list-container">
  
  <app-post-form [categoryId]="category.id" *ngIf="fire.user.isLogin && category.id"></app-post-form>

  <br>
  <br>

  <div *ngIf="fire.post.pagePosts">
      <div class="post-list" *ngFor=" let id of fire.post.pagePostIds">
          <app-post-item 
          *ngIf="! fire.post.pagePosts[id].deleted"
          [post]="fire.post.pagePosts[id]" 
          [showCategory]="category.id === 'all' ? true : false"
          (open) = "open.emit(fire.post.pagePosts[id])"
          ></app-post-item>
      </div>
  </div>
</div>